.hidden {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  color: #212121;
  font-size: 14px;
  background-color: #fff;
  line-height: 1.5;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
nav ul {
  list-style-type: none;
}
address ul {
  list-style-type: none;
}
address {
  font-style: normal;
}
/* common */
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu,
.address-list {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: flex;
  margin-right: 76px;
}
.accent {
  color: #2e2f42;
}
.header-logo {
  padding: 16px 0;
  display: block;
}
.burger-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
/* Header desktop */
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .address-list {
    font-style: normal;
    display: block;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .address-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-info {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .address-info {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  nav ul {
    list-style-type: none;
  }
  address ul {
    list-style-type: none;
  }
  address {
    font-style: normal;
  }
  .address-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    text-decoration: none;
  }
  .address-info:hover {
    color: #404bbf;
  }
  .address-info:focus {
    color: #404bbf;
  }
  .current {
    position: relative;
    padding: 24px 0;
    color: #404bbf;
  }
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1;
    display: block;
    width: 100%;
    border-radius: 2px;
    height: 4px;
    background-color: #404bbf;
    bottom: -1px;
  }
  .menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
    display: block;
  }
  .menu-item:hover {
    color: #404bbf;
  }
  .menu-item:active {
    color: #404bbf;
    text-decoration: underline;
  }

  .menu-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* header desktop */
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .address-box {
    flex-direction: row;
    gap: 40px;
  }
  .address-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* mobile-menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-close-btn {
  display: block;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #e7e9fc;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  margin: 0;

  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-navigation {
  margin-bottom: auto;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.active {
  color: #404bbf;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-address-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-address-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.active-address {
  color: #4d5ae5;
}
.address-info {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-soc-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 48px;
}

.mobile-soc-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-soc-link:hover {
  background-color: #404bbf;
}
.mobile-soc-link:focus {
  background-color: #404bbf;
}
.svg-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* Hero section */
.hero-section {
  padding: 72px 0;
  background: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Bg-mobile-1x-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin-right: auto;
  margin-left: auto;
}
.hero-button {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .hero-section {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 768px;
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
    max-width: 1440px;
    margin-bottom: 60px;
  }

  .main-title {
    margin-bottom: 48px;
  }
}
/* section 2 no name */

.visually-hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.goals {
  padding-top: 48px;
  padding-bottom: 96px;
}
.goals-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
}
.goal {
  width: 100%;
}
.goals-icons {
  display: none;
}
.goal-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
}
.goal-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .goals-list {
    column-gap: 24px;
    row-gap: 72px;
    margin: 0;
  }
  .goal {
    width: calc((100% - 24px) / 2);
  }
  .goal-title {
    text-align: left;
  }
  .goal-descr {
    font-weight: 400;
  }
}

@media screen and (min-width: 1158px) {
  .goals {
    padding-bottom: 120px;
    padding-top: 60px;
  }
  .goal {
    width: calc((100% - 3 * 24px) / 4);
  }
  .goals-icons {
    display: flex;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    align-items: center;
    justify-content: center;
    padding: 0px;
    flex-direction: column;
  }
  .goal-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-top: 8px;
  }
}
/* Our Team */
.team-container {
  padding: 0 28px;
}
.employee-card img {
  width: 100%;
  height: auto;
}
.team-list {
  background-color: #f4f4fd;
  padding: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.employee-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  margin-top: 48px;
}
.employee-card {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.title-our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.employee-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.employee-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  text-align: center;
}
.employee-title-name {
  padding: 32px 16px;
}
.team-soc-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 8px;
}

.soc-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover {
  background-color: #404bbf;
}
.soc-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .employee-list {
    column-gap: 24px;
    row-gap: 64px;
  }
  .employee-card {
    width: calc((100% - 24px) / 2);
  }

  .employee-title-name {
    padding: 32px 16px;
  }
}
@media screen and (min-width: 1158px) {
  .team-list {
    gap: 24px;
    padding: 120px 0;
  }
  .employee-card {
    width: calc((100% - 3 * 24px) / 4);
  }
}
/* Portfolio */
.portfolio {
  padding: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-our-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.portfolio-card {
  width: 100%;
}
.portfolio-app-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-card img {
  width: 100%;
  height: auto;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.portfolio-card:hover .portfolio-image-paragraph {
  transform: translateY(0%);
}
.portfolio-image-container {
  position: relative;
  overflow: hidden;
}
.portfolio-image-paragraph {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-card {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px;
  }

  .portfolio-list {
    row-gap: 48px;
  }
  .portfolio-card {
    width: calc((100% - 2 * 24px) / 3);
  }
}
